/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #e80608; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #e80608 0%, #a90004 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e80608), color-stop(100%,#a90004)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #e80608 0%,#a90004 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #e80608 0%,#a90004 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #e80608 0%,#a90004 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #e80608 0%,#a90004 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e80608', endColorstr='#a90004',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-family: arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bk_logo{
	width: 290px;
	height: 314px;
	bottom: 0px;
	left: 0px;
	position: fixed;
}
.content{
	width: 800px;
	overflow: hidden;
	margin: auto;
}
.content_wrapper{
	width: 8400px;
}
.wrapper{
	width: 800px;
	height: 100%;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.logo_convencion{
	text-align: center;
	margin-top: 9px;
}
.title{
	text-align: center;
	margin-top: 16px;
}
.line{
	text-align: center;
	margin-top: 21px;
}
.home_text {
	text-align: center;
	font-family: arial;
	font-size: 14px;
	margin: 20px auto 28px auto;
	color: #FFF;
	width: 565px;
	line-height: 18px;
}
.content_register{
	width: 220px;
	height: 217px;
	border-radius: 3px;
	margin: auto;
}
.header_content_register{
	height: 44px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: url('../images/bk_header_form.jpg') repeat-x;
	text-align: center;
	line-height: 44px;
	color: #FFF;
	font-size: 12px;
}
.content_info_register{
	background: #efefef;
	height: 168px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.line_form{
	height: 55px;
	line-height: 55px;
	border-bottom: 1px solid #e2e2e2;
}
.line_form label{
	width: 49px;
	height: 16px;
	background: #414141;
	color: #FFF;
	text-align: center;
	font-size: 10px;
	padding: 2px;
}
.line_form input{
	border: none;
	background: transparent;
	color: #404040;
	font-size: 12px;
	outline: none;
	width: 160px;
}
.content_btn_submit{
	width: 188px;
	height: 32px;
	margin: 10px auto 0;
	border: none;
	background: #414141;
	color: #FFF;
	font-size: 12px;
	line-height: 32px;
	border-radius: 3px;
	margin-top: 14px;
	text-align: center;
}
.logo2{
	text-align: center;
	padding-top: 75px;
	margin-bottom: 20px;
}
.line_options{
	color: #FFF;
	font-size: 12px;
	width: 584px;
	margin: auto;
	line-height: 22px;
	margin-bottom: 20px;
}
.line_options p{padding-left: 20px;}
.sub_p{padding-left: 30px !important;}
.line_options span{
	font-weight: bold;
	font-size: 14px;
}
.select_options{
	height: 22px;
	line-height: 22px;
	margin: 10px 0;
}
.the_options{
	background: #FFF;
	text-align: center;
	font-size: 15px;
	line-height: 22px;
	height: 22px;
	color: #c70206;
	display: inline-block;
	vertical-align: top;
	border-radius: 3px;
	padding: 0 4px;
	margin-right: 6px;
}
.the_options:hover{
	cursor: pointer;
	background: #414141;
}
.before_step {
    background: none repeat scroll 0 0 #414141;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin: 12px auto 0 64px;
    text-align: center;
    width: 188px;
}
.btn_next{
	background: #FFF;
	margin: auto;
	width: 188px;
	height: 32px;
	line-height: 32px;
	color: #d10307;
	border-radius: 3px;
	text-align: center;
}
.form_final{
	width: 526px;
	height: 228px;
	margin: auto;
}
.header_form_final{
	background: url('../images/bk_header_form.jpg') repeat-x;
	text-align: center;
	font-size: 12px;
	height: 44px;
	line-height: 44px;
	color: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.content_form_final{
	height: 184px;
	background: #FFF;
}
.line_content_form_final{
	height: 65px;
	border-bottom: 1px solid #e2e2e2;
	line-height: 65px;
	padding-left: 12px;
}
.line_content_form_final label{
	font-size: 12px;
	color: #404040;
	padding-left: 5px;
}
.line_content_form_final input{
	border: none;
	background: transparent;
	height: 65px;
	line-height: 65px;
	color: #404040;
	font-size: 18px;
	outline: none;
	width: 232px;
}
.three_lines{
	border-right: 1px solid #e2e2e2;
	padding-left: 12px;
	display: inline-block;
	vertical-align: top;
	width: 175px;
	height: 65px;
	line-height: 65px;
}
.three_lines:last-child{border-right: none;}
.three_lines input{width: 92px;}
.final_button {
    background: none repeat scroll 0 0 #414141;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin: 40px auto 0 auto;
    text-align: center;
    width: 188px;
}
.congratulations{
	font-size: 18px;
	text-align: center;
	padding-top: 46px;
	height: 125px;
	border-bottom: 1px solid #e2e2e2;
}
.congratulations span{font-weight: bold;}
.next_step{cursor: pointer;}
.second_step{
	margin-top: 90px;
}
.text_hidden{display: none;}
.text_hidden{
	margin-top: 5px;
	margin-left: 15px;
}
.text_hidden input{
	border: none;
	height: 25px;
	color: 414141;
	padding-left: 5px;
	width: 400px;
}

.value_box {
}
.article{
	width:100%;
	height:100%;
	display:block;
	overflow:hidden;
	position:absolute;
}
.logo{
	width:160px;
	height:160px;
	left:75%;
	position:absolute;
	top:0px;
	background:url("../images/logo_intera.png") no-repeat no-repeat center -30px;
}